---
---

$content-width: 80%;

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #383838;
}
